body {
    background-color: #f7f4f4;
    padding: 1%;
    margin: 0;
    font-family: 'Sono', sans-serif;
    font-family: 'Raleway', sans-serif;

}
 /* MAIN THEME */
.container {
 
    border-radius: 25px;
    width: 100%;
    background-color: #fff;
}

.header {
    position: fixed;
    top: 0;
    z-index: 5;
    padding-top: 5px;
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    align-items: center;
    border-radius: 25px;
    width: 98%;
    height: 10%;
    background-color: #fff;
    border-radius: 25px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    width: 98%;
    display: flex;
    justify-content: flex-end;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    padding: 2%;
}

.footer {
    
}

.formfield {
    padding: 5px;
    width: 80%;
    height: 5%;
    border-radius: 15px;
    border: 1px solid #cecece;
}

.formfield:active {
    z-index: 3;
    transform: scale(+5px);
    border: 0;
}

/* MAIN THEME */

/* GLOBAL */
button {
        background-color: #fff;
        border: 1px solid #dfdfdf;
        border-radius: 15px;
        width: 130px;
        height: 40px;
        margin-left: 5px;
        margin-bottom: 10px;
}

button:hover {
    
    animation: buttonScaleUp 0.5s forwards;
}

button:active {
    animation: buttonOnClick 0.1s;
}

[aria-label]
{
    position: relative;
}
[aria-label]::before
{
    content: attr(aria-label);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 2px #ccc solid;
    transition: .5s ease-in-out;
    transition-property: opacity, visibility;
    z-index: 100000;
}
[aria-label]:hover::before
{
    opacity: 1;
    visibility: visible;
    margin-bottom: 100px;
}



/* ANIMS */
@keyframes buttonScaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    }
}

@keyframes buttonOnClick {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3px);
        
    }
}